/* styling the main body generel elements and the skeleton class whitch supports
the structure of the page */

body {
  background-color: #fff;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 10px; /* in the original version the body marging is 0px */
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.skeleton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

a {
  margin: 5px;
}

/* Styling of the top bar elements - a navigation bar */

#topNav {
  justify-content: flex-end;
  align-items: flex-start;
  align-content: stretch;
  align-self: flex-end;
}

.mailImg {
  padding: 10px;
}

.connexBotton {
  padding: 10px;
}

#connexionBotton{
  background-color: rgb(56, 180, 230);
  border-color: blue;
  border-style: dashed;
  border-width: 2px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.icones {
  padding: 5px;
  margin-top: 5px;
}

/* Styling the Google logo div */

#ImgGoogle {
  justify-content: center;
  align-items: flex-end;
  padding-top: 15%;
}

/* Styling the research section */

#ResearchBar {
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}

#SearchBottons {
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.connexBotton {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}



